<div class="main-container">
  <mat-toolbar color="primary" class="toolbar">
      <app-menu (selectGroup)="onSelectGroup($event)" [groups]="player.groups"></app-menu>
      <h4 class="app-name">FutBolers</h4>
  </mat-toolbar>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Tab 1">
      <ng-template mat-tab-label>
          <span>Upcoming games</span>
      </ng-template>
      <div class="app-tab-content">
        
          <upcoming-game [game]="selectedGroup.upcomingGame"></upcoming-game>
      </div>
    </mat-tab>
    <mat-tab label="Tab 2">
      <ng-template mat-tab-label>
          <span matBadge="4" matBadgeOverlap="false">Games played</span>
      </ng-template>
      <div class="app-tab-content">
        <games-played [games]="selectedGroup.gamesPlayed"></games-played>
      </div>  
    </mat-tab>
    <mat-tab label="Tab 3">
      <ng-template mat-tab-label>
        <span>Finance <mat-icon>monetization_on</mat-icon></span>
      </ng-template>
      <div class="app-tab-content">
        To be developed
      </div>  
    </mat-tab>  
  </mat-tab-group>
</div>