mat-card {
    margin: 10px;
    background-color: ghostwhite;
}

mt-card-header {
    background-color: grey;
}

.player-picture {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.games-played-container .player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 50%;
}

.games-played-container .content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-info span.good-result {
    color: rgb(80, 220, 100 );
    font-weight: 700;
}

.player-info span.bad-result {
    color: #f44336;
    font-weight: 700;
}